
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/Styles")
    
</head>
<body>
    <header>
        <h1><a href="@Url.Action("index","home")">404htm/@ViewBag.Title</a></h1>
		<div style="float: right;">
			@*<input id="search" placeholder="Search" />*@
		</div>
        <nav>
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home", null, new {id="home"})</li>
                <li>@Html.ActionLink("Tools", "Index", "Tools", null, new {id="tools" })</li>
                <li>@Html.ActionLink("Projects", "Index", "Projects", null, new { id = "projects" })</li>
                <li>@Html.ActionLink("About", "Home", "About", null, new { id = "contact" })</li>
            </ul>

           </nav>
    </header>
	
<section id="main">
@RenderBody()
</section>

<aside>
	<div class="header">News</div>
	<strong>1/3/2014</strong>
	<div class="content">
	<p>Site Launch - We'll be finalizing the site layout and structure over the next few days. </p>
	</div>
</aside>

<aside>
	<div class="header">Tags</div>
	<svg width="100%" height="150px" id="tags" title="Because I'm really sick of tag clouds"></svg>
</aside>

<aside>
	<div class="header">Contact</div>
	<div class="content">
		<a href="mailto:site@404htm.com" class="contact-email">Email</a>
		<a href="http://lnkd.in/h6TQRw"  class="contact-li">LinkedIn</a>
		<a href="http://stackoverflow.com/users/2618921/kelly-gendron"  class="contact-so">Stack Overflow</a>
        <a href="https://github.com/404htm" class="contact-github">GitHub</a>
	</div>
</aside>

<footer class="section footer">
	<div class="footer-top">
		<span style="float: left;">Kelly Gendron @DateTime.Now.Year</span>
		<span style="float: right;"><a href="mailto:site@404htm.com" id="email">site@404htm.com</a></span>
	</div>
</footer>

		@Scripts.Render("~/bundles/default")
		<link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</body>
</html>