@model Web404.Common.IPostSummary

<summary class="panel panel-default sys-panel">
	<div class="panel-heading">
		@Model.Date.ToShortDateString() -
		<h3>@Model.Title</h3><span class="ui-icon ui-icon-newwin"></span>
		<span style="float: right;">
			<a href="@Url.Action("ArticleBody", new {id = Model.ID, partition = Model.Partition})" class="sys-ajax" data-icon-element="span">
				<span class="glyphicon glyphicon-collapse-down"></span>
			</a>
		</span>
	</div>

	<div class="panel-body">

		@Html.Raw(Model.Summary)


		<div class="sys-target">
			
				<text>...</text>
	
		</div>
	</div>

	<div class="tags panel-footer">
		@foreach (var tag in Model.Tags.Split(','))
		{
			<span>@tag</span>
		}
	</div>
</summary>