@model IPostSummary

<div class="panel panel-default sys-panel">
	<div class="panel-heading">
		@Model.Date.ToShortDateString() -
		<h3>@Model.Title</h3><span class="ui-icon ui-icon-newwin"></span>
		<span style="float: right;">
			<a href="@Url.Action("Post", new {id = Model.SID, partition = Model.Partition})" class="sys-ajax" data-icon-element="span">
				<span class="glyphicon glyphicon-collapse-down"></span>
			</a>
		</span>
	</div>

	<div class="panel-body content">

		@Html.Raw(Model.Summary)

		<div class="sys-target"></div>
	</div>

	<div class="tags post-footer">
		@if (Model.TagList != null)
		{
			foreach (var tag in Model.TagList.Split(','))
			{
				var disp = tag.Trim();
				<span>@Html.ActionLink(disp, "tags", new { id = disp }, new { @class = "tag" })</span>
			}
		}

		<div class="continue">
			<a href="@Url.Action("Post", new { id = Model.SID, partition = Model.Partition })" class="sys-ajax linkbutton">
				<span>Continue Reading</span>
				<span class="glyphicon glyphicon-play"></span>
			</a>

		</div>
	</div>

</div>